.app-wrapper {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  width: 100%;
}

.app-container {
  display: grid;
  grid-template-rows: auto 1fr;
  margin: 0 1rem;
  overflow-y: hidden;
  height: 100vh;
}

.user-dashboard {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  min-width: 1200px;
  background-color: #f1f1f1;
  overflow-y: auto;
  min-height: 0;
  padding: 1rem 0;
}

.nav-container {
  padding: 0.5rem 2rem;
  display: flex;
  align-items: center;
  column-gap: 2rem;
  background-color: #f8f8f8;
  border-bottom: 1px solid rgb(230, 238, 245);
  height: max-content;
}

.nav-container a {
  color: black;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-container a:hover {
  cursor: pointer;
  text-decoration: underline #cc2c29 solid 3px;
  text-underline-offset: 6px;
}

.nav-container a::after {
  content: attr(data-text);
  height: 0;
  visibility: hidden;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
  font-weight: 600;
}

.nav-logo {
  height: 3rem;
  margin-top: 0.7rem;
}

.nav-links {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.nav-primary {
  display: flex;
  column-gap: 2rem;
}

.nav-secondary {
  display: flex;
  column-gap: 0.5rem;
}

.profile-link {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  margin-right: auto;
}

.profile-img {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  object-fit: cover;
}

.rec-activity-panel {
  min-width: 600px;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.rec-activity-card-container {
  background-color: #f8f8f8;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.2rem;
}

.rec-activity-card-header {
  display: flex;
  justify-content: space-between;
}

.header-info {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
}

.button-icon {
  object-fit: cover;
}

.action-icon-button {
  border: none;
  background: none;
  padding: 0;
  width: 1.6rem;
  height: 1.6rem;
}

.rec-activity-type-icon {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
}

.header-title {
  font-weight: 600;
  font-size: 0.9rem;
}

.header-sub {
  font-size: 0.7rem;
}

.comment {
  font-weight: 600;
  font-size: 1.4rem;
}

.stat-list {
  display: flex;
  column-gap: 3rem;
}

.stat-list-profile {
  align-items: center;
}

.stat {
  display: flex;
  flex-direction: column;
}

.stat-label {
  font-size: 0.7rem;
}

.stat-value {
  font-weight: 500;
  font-size: 1.2rem;
}

.stat-value span {
  font-weight: 500;
  font-size: 0.8rem;
}

.profile-panel {
  display: flex;
  flex-direction: column;
  row-gap: 0.05rem;
  padding: 0 2rem;
}

.profile-panel-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8f8;
  padding: 1rem 0;
}

.profile-panel-icon {
  margin-top: -3.5rem;
  align-self: center;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.panel-header {
  padding-left: 0.5rem;
  border-left: 3px solid #cc2c29;
  font-weight: 700;
  font-size: 1.2rem;
}

.panel-header-profile {
  border: none;
  margin-bottom: 0.45rem;
}

.greeting {
  font-size: 1.4rem;
  font-weight: 600;
  padding-bottom: 1rem;
}
